{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Новости</h1>
<h2>{% current_time '%b %d %Y' %}</h2>
<h3> Всего новостей {{ news|length_type:"N"}}</h3>
<form action="./search">
   <button>Поиск</button>
</form>
<form action="./create">
   <button>Добавить новость</button>
</form>

{% if is_not_author %}
<button> <a href="/news/upgrade/"> Хочу стать автором!</a> </button>
{% endif %}
    {% if news%}
        <table>
            <tr>
                <td>
                    <h3>Заголовок</h3>
                </td>
                <td>
                     <h3>Дата создания</h3>
                </td>
                <td>
                    <h3>Текст</h3>
                </td>
            </tr>
            {%for new in news%}
                <tr>
                    <td> <a href = "{{new.id}}">{{new.title|censor}}</a></td>
                    <td> {{new.date_add|date:'d.m.Y'}}</td>
                    <td> {{new.text|truncatewords:20|censor}}</td>
                </tr>
            {%endfor%}
        </table>
    {%else%}
        <h2>Новости не найдены</h2>
    {%endif%}
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="? {% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="? {% url_replace page=page_obj.next_page_number %} ">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="? {% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
{% endblock content %}